html body {
  width: 100%;
  height: 100%;
  font-family: Monaco, monospace;
  padding: 0px;
  margin: 0px;
  color: #fff;
}

#page-container {
  height: 100vh;
  width: 100vw;
}

.date-container {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

#time {
  font-size: 80pt;
  margin-bottom: 20px;
}

#date {
  margin-top: 10px;
  font-size: 50pt;
}

.button {
  border-radius: 3px;
  border: 1px solid white;
  color: white;
  padding: 10px;
  font-family: inherit;
  font-size: 15px;
  position: fixed;
  background: rgba(1, 1, 1, 0.2);
  right: 10px;
  top: 10px;
  cursor: pointer;
  width: 200px;
}

.button:hover {
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.5);
}

.button:focus {
  outline:0;
}
